.game {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.main-grid, .sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    aspect-ratio: 1 / 1;
}

.main-grid {
    gap: .75rem;

    background-color: #bbbbbb;
    width: 80%;
}

.main-grid button {
    all: unset;

    background-color: #0A0A0A;

    display: grid;
    place-items: center;
    padding: .4em;

    &:empty:hover {
        background-color: #222;
        cursor: pointer;
    }
}

.sub-grid {
    gap: .15rem;

    &--playable button {
        // outline: 2px solid yellowgreen;
        background-color: #282828;
    }
}