.game {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.main-grid, .sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    aspect-ratio: 1 / 1;
}

.main-grid {
    gap: .75rem;

    background-color: #bbbbbb;
    width: 80%;
}

.main-grid button {
    all: unset;

    background-color: #0A0A0A;

    display: grid;
    place-items: center;
    padding: .4em;

    cursor: not-allowed;
}

// button doit être :hover able
// quand main-grid n'a pas no-hover et bouton est vide
// quand subgrid est marqué playable et bouton est vide

.sub-grid {
    position: relative;
    gap: .15rem;

    &--playable button:empty {
        // outline: 2px solid yellowgreen;
        background-color: #222;
    }
}

:is(.main-grid:not(.no-hover), .sub-grid--playable) button:empty:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.sub-grid__winner {
    position: absolute;
    inset: 0;
    z-index: 2;

    background-color: #0a0a0a;
    aspect-ratio: 1 / 1;

    display: grid;
    place-items: center;

    cursor: not-allowed;

    img {
        max-width: 60%;
    }
}
