@use "reset.scss";

@use "./game.scss";
@use "./rules.scss";

body {

    width: min(85%, 900px);
    margin: auto;

    @media (min-width: 45em) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;

        padding-block: 3rem;
    }
}
